@using Microsoft.AspNetCore.Components.Web
@using CreditReportApp.Models
@using CreditReportApp.Components

<table class="table" id="TableCtl">
    <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Credit Agency</td>
            <td>Credit Score</td>
            <td>Details Popup</td>
            <td>Details Page</td>
        </tr>
    </thead>
    <tbody>
        @if (CreditRows is not null)
        {
            @foreach (var creditRow in CreditRows)
            {
                <CreditReportApp.Components.RowCtrl 
                CreditRow="creditRow" 
                OnRowSelected="OnRowSelected" 
                OnViewDetails="OnViewDetails"
                OnViewDetailsPage="OnViewDetailsPage"
                IsSelected="creditRow.Id==CreditRowStateService.SelectedRowId"/>
            }
        }
    </tbody>
</table>


<CreditReportApp.Components.DetailedCtrl Item="SelectedRow" OnClose="CloseDetails" />

@code {
    [Inject] NavigationManager NavigationManager { get; set; }    

    [Parameter]
    public List<CreditRow> CreditRows { get; set; }  

    public CreditRow SelectedCreditRow { get; set; }

    [Parameter]
    public EventCallback<CreditRow> OnRowSelected { get; set; }


    [Parameter]
    public EventCallback<CreditRow> OnViewDetails { get; set; }

    [Parameter]
    public EventCallback<CreditRow> OnViewDetailsPage { get; set; }

    protected void ViewDetails(CreditRow creditRow)
    {
        SelectedCreditRow = creditRow;
    }
}